<div class="container">
  <div class="row">
    <div class="col-xs-1" style="padding-top: 30px;">
      <a class="btn-primary btn-lg" routerLink="/weather">Back</a>
    </div>
    <div class="col-xs-offset-4 col-xs-2">
      <div class="row">
        <div class="col-md-12">
          <h1>{{(cityWeather | async)?.city.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4 style="display: inline;">{{(cityWeather | async)?.list[0].weather[0]?.description}}</h4>
            <img [src]="'http://openweathermap.org/img/w/'+ (cityWeather | async)?.list[0]?.weather[0].icon + '.png'">
        </div>
      </div>
      <div class="row">
        <h2>{{Math.ceil((cityWeather | async)?.list[0]?.main?.temp)}}°C
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <label class="col-xs-1">Humidity</label>
    <div class="col-xs-10">
      {{(cityWeather | async)?.list[0].main?.humidity}}%
    </div>
  </div>
  <div class="row">
    <label class="col-xs-1">Pressure</label>
    <div class="col-xs-10">
      {{(cityWeather | async)?.list[0].main?.pressure}}mm
    </div>
  </div>
  <div class="row">
    <label class="col-xs-1">Min Temp</label>
    <div class="col-xs-10">
      {{(cityWeather | async)?.list[0].main?.temp_min}}°C
    </div>
  </div>
  <div class="row">
    <label class="col-xs-1">Max Temp</label>
    <div class="col-xs-10">
      {{(cityWeather | async)?.list[0].main?.temp_max}}°C
    </div>
  </div>
  <div class="row">
    <label class="col-xs-1">Wind</label>
    <div class="col-xs-10">
      {{(cityWeather | async)?.list[0].wind.deg}} deg - {{(cityWeather | async)?.list[0].wind.speed}}m/s
    </div>
  </div>
  <div class="row">
    <div class="graphContainer"></div>
  </div>
</div>



