<style>
  a {
    color: inherit;
  }
</style>
<a routerLink="{{cityWeather.id}}">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pull-left">{{cityWeather.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{cityWeather.weather[0].description}}
        </div>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="row">
        <div class="col-md-12">
          <h2 class="pull-right">
            {{Math.ceil(cityWeather.main.temp)}}°C
            <img src="http://openweathermap.org/img/w/{{cityWeather.weather[0].icon}}.png"
                 alt="{{cityWeather.weather[0].description}}"
                 title="{{cityWeather.weather[0].description}}"/>
          </h2>
        </div>
      </div>
      <div class="row pull-right">
        <div class="col-md-12">
          <b>Wind </b>
          {{cityWeather.wind.speed}} m/s
        </div>
      </div>
    </div>
  </div>
</a>
