<div class="container">
  <ul class="list-group">
    <li *ngFor="let cityWeather of (cityWeathers | async)?.list" class="list-group-item">
      <weather-list-item [cityWeather]="cityWeather"></weather-list-item>
    </li>
  </ul>
</div>
